@use "../../scss/variables.scss" as *;

.auth {
  background-color: $bgSecondary;
  height: 100%;

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__element {
    background-color: $bgPrimary;
    @include size(402px, 300px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
  }

  &__title {
    color: $textSecondary;
    @include font(16px, 24px);
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__logout {
    border-radius: 10px;
    padding: 4px 10px;
    border: 1px solid $textPrimary;
    outline: none;
    transition: all .2s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 0.4;
    }

    &:active {
      opacity: 1;
    }
  }

}
